html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

header {
  position: relative;
  width: 100%;
  height: 64px;
  background: #43a047;
  display: flex;
  align-items: center
}

header span {
  color: white
}

.main {
  width: 100%;
  height: calc(100% - 64px);
  display: flex
}

.drawer-button {
  display: none;
  background: none;
  height: 48px;
  width: 48px;
  border: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 50px;
  margin: 6px 12px;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 4;
}

.title {
  margin-left: 32px;
  font-size: 22px;
}

.map-container {
  width: 80%;
  height: 100%;
  position: relative;
}

.drawer {
  width: 20%;
  height: 100%;
  padding: 8px 0;
  position: relative;
  box-sizing: border-box;
}

.drawer ul {
  padding: 0;
  margin: 0;
  color: #212121;
}

.drawer ul a {
  text-decoration: none;
  color: #212121
}

.drawer ul li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  min-height: 48px;
  padding: 0px 16px;
}

.drawer ul li:active {
  background: rgba(0, 0, 0, 0.15);
}

#map {
  height: 100%;
}

#search {
  position: absolute;
  top: 20px;
  right: 1em;
  background: #fff;
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  line-height: 0;
}

.icon-button {
  position: absolute;
  right: 32px;
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  background: none;
  line-height: 0;
}

.icon-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.icon-button:active {
  background: rgba(0, 0, 0, 0.2);
}

.obscurator {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  display: none;
}

#info-card-obscurator {
  height: 100%;
  margin-left: -16px;
  position: absolute;
  bottom: 0;
}

#search-input {
  display: none;
  position: absolute;
  margin: auto;
  width: 400px;
  height: 42px;
  top: 32px;
  ;
  right: calc(50% - 200px);
  border-radius: 4px;
  border: none;
  padding-left: 6px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  outline: none;
}

.mg-marker-info {
  position: absolute;
  display: none;
  top: 46px;
  left: 16px;
  width: 300px;
  height: 80%;
  background-color: #fff;
  border-radius: 3px;
  overflow-y: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.mg-marker-info svg {
  min-height: 24px;
  min-width: 24px;
}

.mg-marker-info-head {
  position: relative;
  height: 80px;
  box-sizing: border-box;
  padding: 16px;
  background-color: grey;
  color: #fff;
  border-radius: 3px 3px 0 0;
}

.mg-marker-info-content {
  padding: 16px;
  overflow-y: auto;
  height: calc(100% - 112px);
}

.mg-marker-info-content h4 {
  margin: 0 0 0 8px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.mg-marker-info-content-title h4 {
  margin: 12px 0 0 8px;
}

.mg-marker-info-content-title {
  font-weight: 400;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #cecece;
}

.mg-content-icon {
  display: flex;
  width: 100%;
  margin: 8px 0;
}

.mg-content-icon h3 {
  align-self: center;
  width: 24px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

.mg-marker-info .big-button, #edit-card .big-button {
  width: 100%;
  background-color: #1e88e5;
  color: #fff;
  margin: 12px 0 0 0 ;
}

.mg-marker-info .big-button:active {
  background-color: #1b76c5;
}

#marker-state {
  padding: 6px;
  color: #fff;
  border-radius: 2px;
}

.report-state-card {
  position: absolute;
  bottom: 32px;
  left: 16px;
  background: #fff;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.report-state-card select {
  font-size: 16px;
  padding: 4px 16px;
  margin-top: 6px;
  padding: 6px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: 0;
}

.report-state-card select:focus, .report-state-card select:active {
  border-bottom: 2px solid #006df0;
}

.fab {
  position: absolute;
  bottom: -23px;
  right: 26px;
  width: 46px;
  height: 46px;
  background: rgb(255, 64, 129);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.fab:hover {
  background: rgb(255, 64, 129);
}

.fab:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#close-info, #close-edit {
  right: 6px;
  top: 6px;
}

#edit-card {
  display: none;
  position: absolute;
  margin: auto;
  width: 500px;
  height: 90%;
  box-sizing: border-box;
  top: 16px;
  right: calc(50% - 250px);
  background: #fff;
  border-radius: 4px;
}

#edit-card input {
  border: none;
  border-bottom: 2px solid #006df0;
  padding: 6px;
  outline: none;
  background: transparent;
  color: #212121;
  font-size: 16px;
  margin-left: 12px;
}
#edit-card input#edit-title, #edit-card input#edit-address {
  width: 80%;
}


#edit-card .mg-marker-info-head input {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

#save-edit {
  margin-top: 16px;
}