@import url('https://fonts.googleapis.com/css?family=Roboto:300');
:root {
    --lockscreen-h3-margin: 45vh auto 0 auto;
    --lockscreen-h3-font-size: 100px;
    --status-bar-width: 720px;
    --status-bar-grid-columns: 335px 50px 335px;
    --home-width: 800px;
    --home-cards-grid-column: 50% 50%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    position: relative;
    margin: 0;
    background: url("../resources/background-1.jpg") no-repeat fixed center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: none;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar #home_button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#navbar_time {
    height: 50px;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    align-self: center;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

#navbar_time:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.navbar .launcher:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

#lockscreen {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #757575;
    background-image: url("../resources/lockscreen.jpg");
    background-size: cover;
}

#lockscreen h3 {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    margin: var(--lockscreen-h3-margin);
    text-align: center;
    font-size: var(--lockscreen-h3-font-size);
    color: #fff;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

.icon_round_button {
    border-radius: 50%;
}

.text_round_button {
    border-radius: 50px;
    padding: 0 18px;
}

#lock_options_button {
    width: 48px;
    height: 48px;
    position: absolute;
    background: transparent;
    border: 2px solid #fff;
    bottom: 16px;
    right: 16px;
}

#lock_options_button i {
    color: #fff
}

.lock_options {
    height: 48px;
    position: absolute;
    display: none;
    background: transparent;
    bottom: 16px;
    right: 16px;
}

.lock_options.active {
    display: flex;
}

.lock_options .container {
    display: inline-flex;
}

.lock_options button {
    height: 48px;
    min-width: 48px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-left: 16px;
}

.lock_options button i {
    color: #fff;
}

.status_bar {
    position: absolute;
    left: 0;
    right: 0;
    width: var(--status-bar-width);
    height: 50px;
    color: #fff;
    display: grid;
    margin: 45vh auto 50px;
    grid-template-columns: var(--status-bar-grid-columns);
}

.status_date {
    height: 100%;
    display: flex;
    margin: 0 8px 0 45px;
}

.status_hour {
    font-size: 45px;
    align-self: center;
}

.status_date h6 {
    margin: 0 0 0 12px;
}

.status_day {
    font-weight: 600;
}

.status, .status div {
    align-self: center;
    display: flex;
    align-items: flex-end;
    margin: auto auto auto 8px;
}

.status div {
    padding: 12px;
}

.status div span {
    padding-right: 8px;
}

.fuchsia img {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    object-fit: cover;
    cursor: pointer;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
    height: 768px;
    /* Used in this example to enable scrolling */
}

.mdlnotify {
    background: #fff;
    border-radius: 3px;
    height: 400px;
    width: 600px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 150px;
}

.iconf {
    float: left;
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-left: 20px;
}

.obfuscator {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.menu {
    position: absolute;
    display: none;
    right: 0;
    bottom: 50px;
    background: #eee;
    width: 350px;
    border-radius: 2px;
}

#menu_2 {
    width: 0;
    height: 0;
    border-radius: 50%;
    display: block;
    left: 0;
    right: 0;
    bottom: 50vh;
    margin: auto;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 99;
    background: #fff;
}

#menu_2 .menu_option {
    padding: 16px 40px;
}

#menu_2 .menu_option i {
    line-height: 16px;
}

#menu_2 i:nth-child(3) {
    position: absolute;
    right: 40px;
}

#menu_2 .menu_option:hover {
    background: #fff;
}

#menu_2 .menu_option:last-child {
    padding-top: 4px;
}

#menu_2 .menu_option:last-child button {
    margin: auto;
    top: -14px;
}

#menu_2.active {
    border-radius: 4px;
    bottom: 50px;
    width: var(--status-bar-width);
    height: 450px;
    transition: all 0.5s ease;
}

#menu_2 .status_bar {
    position: relative;
    background: #fff;
    margin: 0;
    color: #777777;
    margin-bottom: 12px;
}

#menu_2 .fuchsia img {
    padding: 0;
    margin-top: 8px;
}

#menu_2 .status_date {
    padding: 12px 0;
}

.menu.active {
    display: block;
}

.menu_user button {
    position: absolute;
    right: 16px;
}

.user_icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.username {
    font-size: 15px;
    color: #222222;
    padding-left: 16px;
    align-self: center;
}

.menu_option {
    height: 50px;
    display: flex;
    padding: 8px;
    background: #fff;
    cursor: pointer;
}

.menu_option:hover {
    background: #eee;
}

.menu_option i {
    width: 30px;
    font-size: 30px;
    color: #757575;
}

.menu_option i:nth-child(3) {
    position: absolute;
    right: 16px;
}

.menu_option .mdl-slider__container {
    align-self: center;
    width: -webkit-fill-available;
    margin: 0 40px;
}

.menu_volume span, .menu_screen span {
    width: 100px;
}

.option_title {
    width: 270px;
    padding-left: 16px;
    align-self: center;
}

#home {
    position: absolute;
    display: block;
    background: #eceff1;
    border-radius: 5px;
    height: 100%;
    width: var(--home-width);
    left: 0;
    right: 0;
    margin: 65vh auto 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

#home.active {
    display: block;
}

.google_search {
    display: flex;
    background: #fff;
    border-radius: 5px;
    height: 80px;
    width: 100%;
    align-self: center;
    padding: 0 32px;
    margin-bottom: 18px;
}

.search_input {
    color: #777777;
    font-size: 18px;
    border: none;
    margin-left: 32px;
}

.google_logo {
    width: 30px;
    height: 30px;
    align-self: center;
}

.assistant_logo {
    position: absolute;
    right: 32px;
    width: 30px;
    height: 30px;
    align-self: center;
}

.home_cards {
    width: 100%;
    display: inline-grid;
    grid-template-columns: var(--home-cards-grid-column);
}

.card {
    width: 90%;
    height: 100px;
    display: grid;
    grid-template-columns: 25% 75%;
    background: #fff;
    border-radius: 8px;
    margin: 16px auto;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.card:active {
    -webkit-box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: relative;
    padding: 18px;
}

.card_header {
    width: 100%;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    color: #777777;
}

.card_text {
    margin: 0;
    color: #212121;
}

#notify {
    position: relative;
    display: none;
}

.loader {
    position: relative;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #03a9f4;
    border-radius: 50%;
}

.loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite;
}

@keyframes loading {
    0% {
        border: 0px solid white;
    }
    20% {
        border: 8px solid white;
        width: 0%;
        height: 0%;
    }
    100% {
        border: 8px solid white;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --status-bar-width: 100%;
        --status-bar-grid-columns: calc(50% - 25px) 50px calc(50% - 25px);
        --home-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .status_date {
        display: block;
    }
    .status_hour {
        margin: 0 0 0 10px;
        font-size: 18px;
        font-weight: 600;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --home-cards-grid-column: 100%;
        --lockscreen-h3-margin: 25vh auto 0 auto;
        --lockscreen-h3-font-size: 80px;
    }
    .status div:first-child {
        display: none;
    }
    .status_date div h6:nth-child(1) {
        display: none;
    }
    .status div {
        position: absolute;
        right: 40px;
    }
}

@media screen and (max-width: 450px) {
    .status_date {
        margin: 0 0 0 4px;
    }
    .status div {
        right: 4px;
    }
    #menu
}