@import url('https://fonts.googleapis.com/css?family=Poppins');
:root {
    --background-color: linear-gradient(to top right, #02b3e4, #02ccba);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    font-size: 20px;
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    overflow: hidden;
}

#welcome-message {
    position: absolute;
    width: 100vw;
    padding: 32px 64px;
    z-index: 2;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
    cursor: pointer;
}

#welcome-message h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 100;
    margin-top: 12px;
}

#slider {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    overflow: hidden;
}

.cards-container {
    height: 100%;
    display: flex;
    margin: 250px 0;
    list-style: none;
}

.cards-container::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
    background-color: #0086ac;
}

.card {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 350px;
    border-radius: 12px;
    background: #fff;
    margin: 24px 32px;
    padding: 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 18px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 18px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 18px 3px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    overflow: hidden;
    z-index: 3;
}

.card.active {
    width: 100vw;
    height: 100%;
    margin: 0;
    border-radius: 0;
}

.card-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    width: calc(100% - 32px);
    transition: all 0.5s ease;
}

.card.active .card-header {
    top: 15%;
}

.card .card-header span {
    width: 100%;
}

.card .card-header .card-title {
    font-size: 32px;
    color: #212121;
}

.card .card-header .card-type {
    font-size: 16px;
    font-weight: 600;
    color: #424242;
}

.card .card-icons {
    position: absolute;
    top: 16px;
    transition: all 0.6s ease;
}

.card.active .card-icons {
    top: 7%;
}

.card .icon {
    width: 40px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 12px;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card_content {
    height: 0;
    color: #212121;
    font-size: 16px;
    margin-top: 40px;
    overflow: hidden;
}

.card.active .card_content {
    height: 80%;
}

.card.active .card_content button {
    width: 80%;
    display: block;
    margin: 50px auto 0 auto;
    height: 46px;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 24px;
}

.card.active .card_content button a {
    color: #fff;
    text-decoration: none;
}

#project {
    display: none;
    position: absolute;
    width: 500px;
    height: 80%;
    background: #fff;
    border-radius: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}



.obfuscator {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

#more_menu {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: #fff;
    transform: translateY(500px);
    transition: all 0.5s ease;
    z-index: 4;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#more_menu.active {
    transform: translateY(0);
}

#more_menu img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

#more_menu .menu_header {
    display: flex;
    padding: 12px;
}

#more_menu .menu_me {
    margin-left: 12px;
}

#more_menu .menu_header h5 {
    color: #212121;
}

#more_menu .menu_header h6 {
    color: #424242;
}

#more_menu .menu_content {
    margin-bottom: 6px;
}

#more_menu .menu_content a {
    text-decoration: none;
}

#more_menu .menu_content li {
    display: flex;
    padding: 6px 22px;
    align-items: center;
}

#more_menu .menu_content li:hover {
    background: rgba(0, 0, 0, 0.06);
}

#more_menu .menu_content li:active {
    background: rgba(0, 0, 0, 0.16);
}

#more_menu .menu_content svg {
    margin-bottom: 1px;
}

#more_menu .menu_content p {
    margin-left: 16px;
    margin-left: 16px;
    font-size: 18px;
    color: #212121;
}

@media screen and (max-width: 600px) {
    body {
        overflow-y: hidden;
    }
    #welcome-message {
        padding: 32px;
    }
    #welcome-message img {
        width: 60px;
        height: 60px;
    }
    #welcome-message h3 {
        font-size: 28px;
    }
    .cards-container {
        margin: 0;
    }
    .card {
        width: calc(100vw - 64px);
        min-width: calc(100vw - 64px);
        margin: 30vh 32px 14px;
    }
    .card.active {
        min-width: 100vw;
    }
    #more_menu {
        width: 100%;
    }
}

